<footer class="footer">
  <small>
    By <a href="https://github.com/dvislearning">DV</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Project Repository",   '#' %> || <%= link_to "Find me on GitHub",   'https://github.com/dvislearning' %></li>
    </ul>
  </nav>
</footer>